@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto MVC para entrevista</h1>
    <p>API consumido <a href="https://www.thecocktaildb.com/api.php"> The cocktail API</a>. Gracias por la oportunidad</p>
</div>

<div class="d-flex justify-content-center">
    <a href="@Url.Action("Index", "Drink")" class="btn btn-primary btn-lg">Iniciar</a>
</div>